# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples

In [1]:
### Assignment 1: Creating and Accessing Tuples

#Create a tuple with the first 10 positive integers. Print the tuple.

tpl = tuple(range(1, 11))
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
<class 'tuple'>

In [9]:
### Assignment 2: Accessing Tuple Elements

#Print the first, middle, and last elements of the tuple created in Assignment 1.
print(tpl[0])
print(len(tpl)// 2)
print(tpl[-1])

1
5
10

In [17]:
### Assignment 3: Tuple Slicing

#Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

print(tpl[0:3])
print(tpl[-3:])
print(tpl[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

In [25]:
### Assignment 4: Nested Tuples

#Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

netsted_tuples = (
    (1,4,8),
    (7,6,9),
    (5,9,4)
)

print(netsted_tuples)

for i in netsted_tuples:
    print(i)

print(netsted_tuples[1][2])

((1, 4, 8), (7, 6, 9), (5, 9, 4))
(1, 4, 8)
(7, 6, 9)
(5, 9, 4)
9

In [26]:
### Assignment 5: Tuple Concatenation

#Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

tpl1 = (1,2,3)
tpl2 = (4,5,6)

tpl = tpl1 + tpl2
print(tpl)

(1, 2, 3, 4, 5, 6)

In [28]:
### Assignment 6: Tuple Methods

#Create a tuple with duplicate elements and count the occurrences of an element. 
# Find the index of the first occurrence of an element in the tuple.

tpl = (1,2,2,2,2,3,4,5,6,6,6,7,8,8,9,9,6,36,3,3,3,3)
print(f"Occurrences of elements:{tpl.count(2)}")
print(f"First occurrences of elements:{tpl.index(2)}")

Occurrences of elements:4
First occurrences of elements:1

In [30]:
### Assignment 8: Tuple Conversion

#Convert a list of the first 5 positive integers to a tuple. Print the tuple.

lst = tuple(range(1, 6))
print(lst)

a, b, c, d, e = lst
print(a,b,c,d,e)

(1, 2, 3, 4, 5)
1 2 3 4 5

In [31]:
lst = list(range(1, 6))
print(lst)
print(type(lst))

tpl = tuple(lst)
print(tpl)
print(type(tpl))

[1, 2, 3, 4, 5]
<class 'list'>
(1, 2, 3, 4, 5)
<class 'tuple'>

In [33]:
### Assignment 9: Tuple of Tuples

#Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

tuples = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print(tuples)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [37]:

### Assignment 10: Tuple and List

#Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. 
#Print the resulting tuple.

tpl = tuple(range(1, 6))
print(tpl)
print(type(tpl))

lst = list(tpl)
print(lst)
print(type(lst))

lst.append(6)
print(lst)

tpl = tuple(lst)
print(tpl)
print(type(tpl))

(1, 2, 3, 4, 5)
<class 'tuple'>
[1, 2, 3, 4, 5]
<class 'list'>
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [39]:
### Assignment 11: Tuple and String

#Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

string = "Vimal"
tpl = tuple(string)
print(tpl)
join_tpl = " ".join(tpl)
print(join_tpl)

('V', 'i', 'm', 'a', 'l')
V i m a l

In [40]:
### Assignment 12: Tuple and Dictionary

#Create a dictionary with tuple keys and integer values. Print the dictionary.

tpl_dict = {
    (1,2):3,
    (4,5):9,
    (6,7):13
}

print(tpl_dict)

{(1, 2): 3, (4, 5): 9, (6, 7): 13}

In [41]:
### Assignment 13: Nested Tuple Iteration

#Create a nested tuple and iterate over the elements, printing each element.

tpl = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

for i in tpl:
    for j in i:
        print(j)

1
2
3
4
5
6
7
8
9

In [43]:
### Assignment 14: Tuple and Set

#Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

duplicated_elem = (1,2,2,2,3,4,6,6,6,4,4,7,8,9,6,2,0,1,5,4,5)
print(duplicated_elem)
print(type(duplicated_elem))

remove_duplicated_elem = set(duplicated_elem)
print(remove_duplicated_elem)
print(type(remove_duplicated_elem))

(1, 2, 2, 2, 3, 4, 6, 6, 6, 4, 4, 7, 8, 9, 6, 2, 0, 1, 5, 4, 5)
<class 'tuple'>
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [44]:
### Assignment 15: Tuple Functions

#rite functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def min_in_tuple(tpl):
    return min(tpl)

def max_in_tuple(tpl):
    return max(tpl)

def sum_of_tuple(tpl):
    return sum(tpl)

sample_tpl = (1, 2, 3, 4, 5)
print(f"Minimum: {min_in_tuple(sample_tpl)}")
print(f"Maximum: {max_in_tuple(sample_tpl)}")
print(f"Sum: {sum_of_tuple(sample_tpl)}")

Minimum: 1
Maximum: 5
Sum: 15